<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Browser" value= "Chrome"/>
		<add key="Username" value="rahoulviinoaday@fs.co.uk"/>
		<add key="Password" value="Rvaishu$25"/>
		<add key="Website" value ="https://aps.stg.fs.co.uk/"/>
		<add key="PageLoadTimeOut" value ="40"/>
		<add key="ElementLoadTimeOut" value ="40"/>
	</appSettings>
</configuration>
